<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<div class="sw-container" style="border: 1px solid black;">
    <div class="sw-box">
        <span>{{hrs}} : </span>
        <span>{{min}} : </span>
        <span>{{sec}} : </span>
        <span>{{ms}}</span>
    </div>
    <div class="sw-buttons">
        <button id="play-pause" (click)="start()">
            <i *ngIf="!isRunning" class="fa fa-play"></i>
            <i *ngIf="isRunning" class="fa fa-pause"></i>
        </button>
        <button id="replay" (click)="reset()">
            <i class="fa fa-redo"></i>
        </button>
    </div>
</div>
